.exercise-title-controls button::after {
  inset: -9px -17px -24px -17px !important;
  transform: translateY(5px) !important;
}

.exercise-title-controls button:not(:disabled),
.exercise-title-controls button:not(:disabled)::after {
  cursor: pointer !important;
}
